python-dotenv~=1.0.1
fastapi~=0.110.1
bcrypt~=4.1.2
starlette~=0.37.2
aiohttp~=3.9.3
requests~=2.31.0
gitpython~=3.1.43
gunicorn~=21.2.0
uvicorn~=0.29.0
brotli-asgi~=1.4.0
fastapi-simple-rate-limiter~=0.0.4
prometheus-fastapi-instrumentator~=7.0.0